:root {
  --bg-colour: white;
  --fg-colour: black;
  --line-colour: lightgrey;
  --accent-colour: orange;
  --up: red;
  --down: green;
  --d: 0.25rem;
}

body {
  padding: calc(var(--d) * 4);
  height: calc(100vh - var(--d) * 8);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main {
  flex: 1;
  overflow: auto;
  min-height: 0;
  position: relative;
}

header,
footer {
  display: block;
  width: 100%;
  background-color: var(--bg-colour);
  z-index: 10;
  padding: calc(var(--d) * 4) 0;
  position: sticky;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

button {
  border: 1px solid darkgray;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10001;
  font-size: 14px;
}

#display-controls {
  margin-top: 1rem;
}

#schema-content {
  position: relative;
  font-family: monospace;
  font-size: 14px;
  color: #333;
}

.children {
  margin-left: 1rem;
}

::selection {
  background-color: black;
  color: white;
}

input[type='checkbox']:checked {
  accent-color: black;
}

.attribute::before {
  content: '| ';
}

.checkbox-container {
  display: inline-flex;
  align-items: center;
  margin-right: 0.5rem;
}

.checkbox-container input[type='checkbox'] {
  margin-right: 0.3rem;
}

.element-text::before {
  content: '> ';
}

.validation::before {
  content: '⊂ ';
}

.highlighter {
  color: white !important;
  background-color: black !important;
}

button.highlight-button {
  color: black;
  background-color: white;
  padding: 0 3px 3px;
  font-size: 14px;
  border-radius: 3px;
  border: 2px solid darkgray;
}

#page-title {
  font-weight: normal;
}
