:root {
  --bg-colour: white;
  --fg-colour: black;
  --border-colour: darkgrey;
  --child-colour: #eee;
  --line-colour: lightgrey;
  --accent-colour: #fbc1b9;
  --up: red;
  --down: green;
  --d: 0.25rem;
}

/* Global */

::selection {
  background-color: var(--fg-colour);
  color: var(--bg-colour);
}

/* Layout */

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

main {
  position: relative;
  flex-grow: 1;
  overflow: auto;
  padding: calc(var(--d) * 4);

  #schema-placeholder {
    margin-top: calc(var(--d) * 46);
  }

  #schema-content {
    margin-top: calc(var(--d) * 46);
  }
}

header,
footer {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: var(--bg-colour);
  color: var(--fg-colour);
  padding: calc(var(--d) * 4);
  z-index: 1;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}

nav {
  background-color: var(--bg-colour);
}

h1 {
  margin-top: 0;
  font-size: 1.1rem;
}

h2 {
  font-size: 0.8rem;
  margin: calc(var(--d) * 6) 0 calc(var(--d) * 2);
}

/* Controls */

.controls {
  background-color: var(--bg-colour);
}

button {
  border: 1px solid var(--border-colour);
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  z-index: 10001;
  font-size: 14px;
}

button.highlight-button {
  margin: calc(var(--d) * 0.5) 0 calc(var(--d) * 0.5) calc(var(--d) * 0.5);
  padding: var(--d) calc(var(--d) * 2);
  color: var(--fg-colour);
  background-color: var(--bg-colour);
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid var(--border-colour);
}

a {
  color: var(--fg-colour);
  text-decoration: underline;
  text-underline-offset: var(--d);
}

/* Schema */

.children {
  margin-left: 1rem;
}

.node {
  margin: calc(var(--d)) 0;
}

.view-tabs button {
  padding: 0.5rem 1rem;
  margin-right: 0.25rem;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
  background: transparent;
  cursor: pointer;
}

.inline {
  display: inline;
}

.highlighter {
  button {
    background-color: var(--accent-colour) !important;
    border-color: var(--accent-colour) !important;
  }

  & ~ .children button {
    background-color: var(--child-colour);
  }

  & ~ .inline {
    display: inline;
  }
}

#page-title {
  font-weight: normal;
}

.view-tabs {
  margin-right: calc(var(--d) * 8);
  border-bottom: 1px solid var(--line-colour);
  padding: 0.5rem 1rem;
}

.view-tabs button:hover {
  background: #f5f5f5;
}

.view-tabs button[aria-selected='true'] {
  border: 1px solid #ccc;
  border-bottom-color: var(--bg-colour);
  margin-bottom: -1px;
  background: var(--bg-colour);
}

.attribute,
.element-text,
.validation {
  display: block;
}

/* Schema tab rules */

.hidden {
  display: none;
}

.schema {
  .validation {
    display: none;
  }

  [data-tag='html'],
  [data-tag='meta'],
  [data-tag='title'],
  [data-tag='head'],
  [data-tag='link'],
  [data-tag='style'] {
    display: none;
  }

  div[data-tag^='h'] + div,
  div[data-tag='p'] + div {
    display: inline-block;

    .attribute {
      display: none;
    }
  }
}
